body{
    background: #eeedec;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

.container{
    max-width: 400px;
}

.icon{
    position: relative;
    top: -50px; /* cojme me siper*/
    border-radius: 50%;
    width: 100px; /*per diametrin e rrethit mqs border 50%*/
    margin-bottom: -50px;

}